
 #container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    position: relative;
 }

 #top {
    width: 100%;
    height: 80px;
 }
 #menu{
    width: 25%;
 }

 #main{
    width: 75%;
 }

 .clear{
    clear: both;
 }