
 #container {
    width: 2000px;
    margin: 0 auto;
 }

 #top {
    width: 100%;
 }
 #menu{
    width: 25%;
    height: 1000px;
    float: left;
 }

 #main{
    width: 75%;
    height: 1000px;
    float: right;
 }

 .clear{
    clear: both;
 }